<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ordermigratebatchmysql.mapper.WithdrawHttpLogEltMapper">

    <insert id="insertMissingForRange">
        INSERT INTO g_paypay.t_withdraw_order_http_log_month
        (
            Id, OrderId, Type, AccountId,
            SubmitRequest, SubmitResponse, SubmitTime,
            QueryRequest, QueryResponse, QueryTime,
            CallbackRequest, CallbackTime
        )
        SELECT
            src.Id, src.OrderId, src.Type, src.AccountId,
            src.SubmitRequest, src.SubmitResponse, src.SubmitTime,
            src.QueryRequest, src.QueryResponse, src.QueryTime,
            src.CallbackRequest, src.CallbackTime
        FROM g_paypay.t_withdraw_order_http_log AS src
        WHERE src.SubmitTime <![CDATA[ >= ]]> #{start}
          AND src.SubmitTime <![CDATA[ < ]]> #{end}
          AND NOT EXISTS (
            SELECT 1
            FROM g_paypay.t_withdraw_order_http_log_month t
            WHERE t.Id = src.Id
        )
        ORDER BY src.SubmitTime, src.Id
            LIMIT #{batchSize}
    </insert>

    <select id="countMissingForRange" resultType="int">
        SELECT COUNT(1)
        FROM g_paypay.t_withdraw_order_http_log s
        WHERE s.SubmitTime <![CDATA[ >= ]]> #{start}
          AND s.SubmitTime <![CDATA[ < ]]> #{end}
          AND NOT EXISTS (
            SELECT 1
            FROM g_paypay.t_withdraw_order_http_log_month t
            WHERE t.Id = s.Id
        )
    </select>

</mapper>
